

<%= stylesheet_link_tag "bitume" %>

<div class= "div_title">
  <%= simple_format(@article.name, {class: "bit_titl"}, {sanitize: false, wrapper_tag: "h2"}) %>
</div>
<%= simple_format(@article.description, {class: "bit_descr"}, sanitize: false) %>
<%= simple_format(@article.body, {class: "bit_body"}, sanitize: false) %>

<% if admin_signed_in? %>
<%= link_to "supprimer", article_path(@article), method: :delete %>
<%= link_to "editer", edit_article_path(@article)%>
<% end %>
